body {
  background-image: url('Fundo/RickandMorty.jpg');
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  overflow: hidden;
  margin: 0;
  padding: 0;
  height: 100vh;
}

.container {
  display: flex;
  justify-content: center; 
  align-items: center; 
  width: 100vw;
  height: 100vh;
}


.personagens {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 90%;
}

.center {
  text-align: center;
  margin-bottom: 1rem;
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}

.quardar {
  flex-basis: 0;
  flex-grow: 1;
  max-width: 100%;
}

.caracter {
  width: 100%;
  margin-top: -11rem;
  margin-bottom: 10rem; 
  max-height: 400px; 
  min-height: 100px; 
}

.imagem {
  width: 100%;
  max-width: 300px;
  margin-bottom: 10rem;
  max-height: 400px; 
  min-height: 100px; 
}

.episodios {
  margin-top: -3rem;
  margin-bottom: 1rem;
  max-height: 400px; 
  min-height: 100px; 
  overflow-y: auto;
}


.lista-ep {
  display: flex;
  flex-direction: column;
  padding-left: 0;
  margin-bottom: 0;
}

.lista-group-item {
  position: relative;
  display: block;
  padding: 0.75rem 1.25rem;
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.125);
}

.search-container {
  margin-top: 4rem;
  margin-bottom: 1rem;
  display: flex;
  align-items: center;
}

.search-label {
  margin-bottom: 0.5rem;
}

.search-input {
  width: 100%;
}

.buttons {
  margin-top: rem;
  margin-bottom: -4rem;
  display: flex;
  justify-content: center;
  width: 100%;
}

.ir{
  margin-right: 0.5rem;
}

.Beck {
  margin-right: 0.25rem;
}

.Next {
  margin-left: 0.25rem;
}

.ir,
.Beck,
.Next {
  display: inline-block;
  font-weight: 400;
  color: #212529;
  text-align: center;
  vertical-align: middle;
  user-select: none;
  background-color: #007bff;
  border: 1px solid #007bff;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: 0.25rem;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.Beck:hover,
.Next:hover {
  color: #fff;
  background-color: #0056b3;
  border-color: #0056b3;
}

.Beck:focus,
.Beck.focus,
.Next:focus,
.Next.focus {
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.5);
}

.Beck.disabled,
.Beck:disabled,
.Next.disabled,
.Next:disabled {
  color: #fff;
  background-color: #007bff;
  border-color: #007bff;
}

.Beck:not(:disabled):not(.disabled):active,
.Beck:not(:disabled):not(.disabled).active,
.show > .Beck.dropdown-toggle,
.Next:not(:disabled):not(.disabled):active,
.Next:not(:disabled):not(.disabled).active,
.show > .Next.dropdown-toggle {
  color: #fff;
  background-color: #0056b3;
  border-color: #004286;
}

.erro {
  position: relative;
  padding: 0.75rem 1.25rem;
  margin-bottom: 1rem;
  border: 1px solid transparent;
  border-radius: 0.25rem;
}

.erro_personagem {
  color: hsl(354, 100%, 51%);
  background-color: #f8d7da;
  border-color: #f5c6cb;
}

.erro {
  position: absolute;
  top: 50px;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 20px;
  white-space: nowrap; 
  overflow: hidden; 
  text-overflow: ellipsis;
}